node_modules
.DS_Store

apikey='dfEHiweUzQicG0KxX91tiyYkE';


var Twitter = require('twitter');
 
var client = new Twitter({
  consumer_key: 'dfEHiweUzQicG0KxX91tiyYkE',
  consumer_secret: 'Om7T011lg0tV4K3KyrxY5swr68r9YwiqDraU42J2nFu9XzkhhH',
  access_token_key: '282661299-TSJY7PXcieereA7TfwgNuE8D5Ya4aMk7hsCbDbym',
  access_token_secret: 'UczFz6AGxHvqEdZWMp4n65EyCOrSF5PD1iAtTsj0J6B4u'
});
 
var params = {screen_name: 'nodejs'};
client.get('statuses/user_timeline', params, function(error, tweets, response) {
  if (!error) {
    console.log(tweets);
  }
});


Spotify

Client ID
4670ff7786ec4809a6a9dc14093332f7

Client Secret
6bf380396c0d4815ba30a6b2cef8fd22

search: function({ type: 'artist OR album OR track', query: 'My search query', limit: 20 }, callback);

var Spotify = require('node-spotify-api');
 
var spotify = new Spotify({
  id: '4670ff7786ec4809a6a9dc14093332f7',
  secret: '6bf380396c0d4815ba30a6b2cef8fd22'
});
 
spotify.search({ type: 'track', query: 'All the Small Things' }, function(err, data) {
  if (err) {
    return console.log('Error occurred: ' + err);
  }
 
console.log(data); 
});

var Spotify = require('node-spotify-api');
 
var spotify = new Spotify({
  id: <your spotify client id>,
  secret: <your spotify client secret>
});
 
spotify
  .request('https://api.spotify.com/v1/tracks/7yCPwWs66K8Ba5lFuU2bcx')
  .then(function(data) {
    console.log(data); 
  })
  .catch(function(err) {
    console.error('Error occurred: ' + err); 
  });


var movie = 'a movie';

        var queryURL = "http://www.omdbapi.com/?t=" + movie + "&y=&plot=short&apikey=40e9cece";

        // Creating an AJAX call for the specific movie button being clicked
        $.ajax({
          url: queryURL,
          method: "GET"
        }).then(function(response) {
	console.log(response);
	}